<div
  class="col-sm-12 col-md-6 col-lg-4 p-2 filtr-item"
  data-category='all, {{ delimit  .tags ","}}'
>
  <div class="card mt-1">
    <div class="card">
      <div class="card-body text-justify pt-1 pb-1">
        <p>{{ .summary | markdownify }}</p>
        <p> 
          {{ if .badges }}
            {{ range $index,$badge:= .badges}}
              {{ $badge | markdownify }}
            {{ end }}
          {{ end }}
        </p>
        <div class="project-card-footer">
          {{ if .tags }}
            <div class="project-tags-holder">
              {{ range $index,$tag:= .tags }}
                  <span class="badge btn-info">
                    {{ $tag }}
                  </span>
              {{ end }}
            </div>
          {{ end }}
          <div class="project-btn-holder">
            {{ if .license }}
                {{ .license | markdownify }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
